@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(14, 14, 29);
}
nav{
    background-color: rgb(29, 29, 54);
    padding: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.btn{
    padding: 10px 13px;
    background-color: #3A68B8;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;   
    color: white; 
    border: none;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.5;
}

span{
    font-family: Open Sans;
    font-size: 22.55px;
    font-weight: 600;
    line-height: 30.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A68B8;

}

li a{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;   
    text-decoration: none; 
}

ul{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rows{
    display: flex;
    align-items: center;
    gap: 50px;
}

.roww{
    display: flex;
    /* gap: 25px; */
    justify-content: space-between;
}

.im{
    display: flex;
    align-items: center;
    gap: 20px;
}

.a{
    border: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;   
    color: white; 
    background-color: #3A68B8;
}

.b{
    padding: 10px 13px;
    background-color: #3A68B8;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
}

.b:hover{
    opacity: 0.5;
}

.btnn{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.text{
    color: white;
}

h1{
    font-family: Open Sans;
    font-size: 55px;
    font-weight: 800;
    line-height: 71.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;    
}

.u{
    width: 15px;
}

head{
    padding-top: 200px;
}

.n{
    margin-top: 60px;
    margin-bottom: 40px;
}

.kop{
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;    
}

header{
    margin-top: 100px;
}

.head{
   background-color: rgb(19, 19, 39);
   padding-bottom: 50px;
}

p{
    color: white;
    margin-top: 15px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}

.swiper-slide{
    background-color: rgb(29, 29, 54);
    color: white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    width: 170px;
    /* height: 200px; */
}



.ap{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: grey;     
}

.mySwiper{
    margin-top: 120px;
}

h4{
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 31.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}




.header {
    display: flex;          
    align-items: center;             
    justify-content: space-between;   
    margin-top: 100px;   
    
    padding-bottom: 60px;
}

.containers{
    width: 70%;
    margin: 0 auto;
}

.containerss{
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: white;
    text-align: left;
}

.aps{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: grey;    
}



img {
    max-width: 100%;         
    height: auto;             
}

.as{
    font-family: Open Sans;
    font-size: 15.96px;
    font-weight: 600;
    line-height: 21.74px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A68B8;    
}

footer{
    background-color: rgb(24, 24, 49);
    padding: 20px;
    padding-top: 50px;
    padding-bottom:70px ;
}

.lo p{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.71px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;    
}

.lo{
    display: flex;
    align-items: center;
    gap: 3px;
}

.app{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 450;
    line-height: 17.71px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: grey;    
}

.ipo{
    margin-top: 10px;
}

.pp{
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 450;
    line-height: 17.71px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: grey;
    margin-top: 10px;    
}

.impo{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;    
}

.in{
    width: 330px;
}

.ma{
    width: 330px;
}

.tion{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}

.inglish{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 450;
    line-height: 17.71px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;    
}

.www{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.71px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    margin-top: 
    10px;    
}

.black{
    background-color: rgb(14, 14, 29);
    border: none;
    border-radius: 6px;
    padding: 14px 18px;
    color: white;
}
.light{
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 13px;
}